


.whoTitle{
    font-family: 'Instrument Serif', serif;
}


.arrowBackGround{
    background-color: #232220;
}

.bg-radial-gradient {
    background: radial-gradient(125% 125% at 50% 10%, #0e0e0e 40%, #9051e0 100%);
}

